div.info-container {
    display: flex;
    flex-direction:column;
    margin-top: 5%;
    margin-left:20%;
    margin-right:20%;
}

/** centre du site **/

div.center-container {
    display: flex;
    padding: 2%;
}

div.text-column {
    width: 100%;
    padding-left: 5%;
}

.text-slave {
    font-size: 2vw;
}

div.img-container {
    display: flex;
    flex-direction: column-reverse;
    width: 40%;
}

img.slave-img {
    width: 100%;
}

h2.mobile-title {
    display: none;
}

div.social-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
}   
.icons-img {
    flex: 1;
}

@media (max-width:767px) {
}