@media only screen and (min-width: 768px) {
   .footer{
    background-color: #000;
    color:#fff;
    font-size: small;
    height: 50px;
    width:100%;
  }
  .footer-content{
    font-family: 'ft88expanded';
    display:flex;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
  } 
}

/** FONT **/

@font-face {
    font-family: 'fengardo_neueblack';
    src: url('/assets/fonts/fengardoneue_black-webfont.woff2') format('woff2'),
         url('/assets/fonts/fengardoneue_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fengardo_neueregular';
    src: url('/assets/fonts/fengardoneue_regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/fengardoneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vg5000_regularregular';
    src: url('/assets/fonts/vg5000-regular_web-webfont.woff2') format('woff2'),
         url('/assets/fonts/vg5000-regular_web-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vg5000_regularregular';
    src: url('/assets/fonts/vg5000-regular_web-webfont.woff2') format('woff2'),
         url('/assets/fonts/vg5000-regular_web-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ft88school';
    src: url('/assets/fonts/ft88-school-webfont.woff2') format('woff2'),
         url('/assets/fonts/ft88-school-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ft88italic';
    src: url('/assets/fonts/ft88-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/ft88-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ft88gothique';
    src: url('/assets/fonts/ft88-gothique-webfont.woff2') format('woff2'),
         url('/assets/fonts/ft88-gothique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ft88bold';
    src: url('/assets/fonts/ft88-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/ft88-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ft88expanded';
    src: url('/assets/fonts/ft88-expanded-webfont.woff2') format('woff2'),
         url('/assets/fonts/ft88-expanded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ft88regular';
    src: url('/assets/fonts/ft88-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/ft88-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ft88serif';
    src: url('/assets/fonts/ft88-serif-webfont.woff2') format('woff2'),
         url('/assets/fonts/ft88-serif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/** SCROLLBAR **/

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000; 
    border: 2px solid #fff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333; 
  }