
.back-icon-container {
    padding-top: 20px;
    padding-left: 20px;
}

.info-s-container {
    display: flex;
    flex-direction: column;
    padding-top:40px;
    align-items: center;
    justify-content: center;
}

.info {
    width: 70%;
}

.info h2 {
    font-family: 'ft88expanded';
}

.info p {
    font-size: medium;
    font-family: 'ft88regular';
    text-align: justify;
    margin-top:20px;
}

strong {

    padding:5px;
    color: white;
    background-color: black;
}

.poles-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    border-top: 2px solid black;
}

.poles-title {
    text-align: center;
    font-family: 'ft88expanded';
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
}

.poles { /* a verif */
    text-align: center;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
}

.poles-main {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.poles-box {
    position:relative;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    width: calc(50%);
    box-shadow: 3px 4px 0px 1px #000;
    box-sizing: border-box;
    text-align: center;
    font-family: 'ft88bold';
    background-color: white;
    width: 80%;
    color:#000;
}
.poles-box h3{
    text-align: center;
    margin:2%;
    color:#000;
}
.additional-text {
    display: none; 
    font-size: small;
    overflow: hidden;
    display:block;
    max-height: 0;
    transition: max-height 1.2s ease;
}

.additional-text.show {
    display: block;
    max-height: 1000px;
    transition: max-height 1.2s ease;
}


.cntrl-container {
    display: flex;
    padding-top: 40px;
    width: 70%;
    align-items: center;
    flex-direction: column;
}


.slave-and-schizo {
    z-index: 3;
    height: 80vh;
}

.cntrl-img {
    z-index: 1;
    height: 80vh;
    margin-top: -80vh;
    opacity: 0.7;
}

@media (max-width:767px) {
    strong {
        color:#000;
        background-color: white;
    }
    .info p{
        font-size:small;
    }
    .info h2{
        font-size: small;
    }
    .poles-title{
        font-size: small;
    }
    .pole-box h3 {
        font-size: small;
    }
    .additional-text {
        font-size: smaller;
    }
    .slave-and-schizo {
        height: 40vh;
    }
    .cntrl-img {
        height: 40vh;
        margin-top: -40vh;
    }
}